**/target
**/.project
**/.settings
**/.classpath
**/VAADIN/**/*.css
**/VAADIN/**/addons.scss
**/bin/
**/.idea/*
!.idea/copyright
**/*.iml
**/bower_components
**/node_modules
**/node
**/compiled-js
# By default, ignore all hidden files
**/.*
!.idea
!.editorconfig
